/*CSS for html and body elemets used so that everything inside
these emelemnts inherits these values*/
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #272822;
}

/*CSS for navbar*/
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar{
  margin-bottom: 0px;
}
nav a{
  font-family: 'Poppins', sans-serif;
}

/*CSS for the container. used to make sure it takes up
entire width of the page*/
.container{
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  margin:auto;
}

/*CSS for intro class. Used for landing page.*/
.intro {
  display: table;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 100px 0;
  text-align: center;
  color: white;
  background:url(background.PNG) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro-body{
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;

}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro h1{
  font-size: 6em;
  font-family: 'Poppins', sans-serif;
}
.intro p{
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}

.intro img:hover{
  transform: scale(1.1);
}

/*CSS for main element*/
main .col-md-4{
  text-align: left;
  font-family: 'Poppins', sans-serif;
}
main .col-md-4 img{
  border: 0.5em solid white;
  width: 100%;
}

/*CSS used for skill classes*/
.border{
  border-left: 0.3em solid white;
}
.skill{
  background: #FF5D73;
  height: 3em;
  border-bottom: 0.1em solid #272822;
  width: 100%;
}
.skill:hover{
  background: #00A28C;
}
.skill span{
  font-size: 1em;
  padding-left: 0.1em;
  padding-right:0.1em;
  padding-top: 0.7em;
}
.skill-1{
  width:100%;
}
.skill-2{
  width:80%;
}
.skill-3{
  width:70%;
}
.skill-4{
  width: 50%
}
.skill-5{
  width: 40%
}
.skill-6{
  width:30%;
}
.skills-left{
  float: left;
}
.skills-right{
  float: right;
}

/*CSS for project class*/
.project{
  text-align: left;
  border-left: 0.5em solid white;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  padding-left: 1em;
  height: auto;
}
.project ul{
  list-style: none;
  padding-left: 0;
}
.project h1{
  padding-bottom: 0.2em;
}
.project a{
  color: #FF5D73;
}
.project p u{
  color: #FF5D73;
}

/*CSS for ID's*/
#about{
padding-top:5em;
height: 100%;
}
#skills{
  text-align: left;
  margin-bottom: 5em;
}
#text{
  font-size: 1.1em;
}
#secondry-nav{
  padding-left: 0;
  list-style: none;
}
#secondry-nav li a{
  color: #FF5D73;
}
#text span{
  color: #FF5D73;
}
#highlight{
  color: #FF5D73;
}
/*Media Queries*/
@media only screen and (max-width: 375px) {
    .skill span{
      font-size: 0.7em;
      padding-left: 0.1em;
      padding-right:0.1em;
      padding-top: 1.5em;
    }
    #secondry-nav li a{
      font-size: 1.4em;
      line-height: 2.5em;
    }
    .project a{
      font-size: 1.5em;
    }
}
@media only screen and (max-width: 320px) {
    .skill span{
      font-size: 0.6em;
      padding-left: 0.1em;
      padding-right:0.1em;
      padding-top: 1.8em;
    }

}
